<app-page>
    <app-subnav subnav>
        <ul
            nav-items
            class="navbar-nav flex-row"
        >
            <li
                class="nav-item"
                [routerLinkActive]="['active']"
            >
                <a
                    class="nav-link"
                    [routerLink]="['./base']"
                    href="#"
                >
                    Base
                </a>
            </li>
            <li
                class="nav-item"
                [routerLinkActive]="['active']"
            >
                <a
                    class="nav-link"
                    [routerLink]="['./tables']"
                    href="#"
                >
                    Tables
                </a>
            </li>
            <li
                class="nav-item"
                [routerLinkActive]="['active']"
            >
                <a
                    class="nav-link"
                    [routerLink]="['./interaction']"
                    href="#"
                >
                    Interaction
                </a>
            </li>
            <li
                class="nav-item"
                [routerLinkActive]="['active']"
            >
                <a
                    class="nav-link"
                    [routerLink]="['./forms']"
                    href="#"
                >
                    Forms
                </a>
            </li>
            <li
                class="nav-item"
                [routerLinkActive]="['active']"
            >
                <a
                    class="nav-link"
                    [routerLink]="['./components']"
                    href="#"
                >
                    Components
                </a>
            </li>
        </ul>
    </app-subnav>
    <section main-content>
        <router-outlet></router-outlet>
    </section>
    <div modals>
        <app-modal
            (visibleChange)="onToggleExampleModal()"
            [visible]="modalExample$ | async"
        >
            <div modal-header>
                Header content here
                <fa-icon
                    (click)="onToggleExampleModal()"
                    class="mr-1"
                    [icon]="['fas', 'times']"
                    size="lg"
                ></fa-icon>
            </div>
            <div modal-body>some text</div>
            <div modal-footer>
                <button
                    (click)="onToggleExampleModal()"
                    type="button"
                    class="btn btn-theme-primary"
                >
                    Close
                </button>
            </div>
        </app-modal>

        <app-modal
            (visibleChange)="onToggleCarsDemoModal()"
            [visible]="carsDemoModal$ | async"
        >
            <div modal-header>
                Header content here
                <fa-icon
                    (click)="onToggleCarsDemoModal()"
                    class="mr-1"
                    [icon]="['fas', 'times']"
                    size="lg"
                ></fa-icon>
            </div>
            <div modal-body>
                <app-edit-car-form *ngIf="carsDemoModal$ | async"></app-edit-car-form>
            </div>
        </app-modal>
        <p-confirmDialog
            header="Confirmation"
            icon="pi pi-exclamation-triangle"
            width="425"
        ></p-confirmDialog>
    </div>
</app-page>
