<app-page>
    <app-subnav subnav>
        <ul
            nav-items
            class="navbar-nav flex-row"
        >
            <li
                class="nav-item"
                [routerLinkActive]="['active']"
            >
                <a
                    class="nav-link"
                    [routerLink]="['./base']"
                    href="#"
                >
                    Base
                </a>
            </li>
            <li
                class="nav-item"
                [routerLinkActive]="['active']"
            >
                <a
                    class="nav-link"
                    [routerLink]="['./tables']"
                    href="#"
                >
                    Tables
                </a>
            </li>
            <li
                class="nav-item"
                [routerLinkActive]="['active']"
            >
                <a
                    class="nav-link"
                    [routerLink]="['./interaction']"
                    href="#"
                >
                    Interaction
                </a>
            </li>
            <li
                class="nav-item"
                [routerLinkActive]="['active']"
            >
                <a
                    class="nav-link"
                    [routerLink]="['./forms']"
                    href="#"
                >
                    Forms
                </a>
            </li>
        </ul>
    </app-subnav>
    <section main-content>
        <router-outlet></router-outlet>
    </section>
    <div modals>
        <p-dialog
            (visibleChange)="onToggleExampleModal()"
            [visible]="modalExample$ | async"
            [modal]="true"
            [blockScroll]="true"
            [responsive]="true"
            [width]="450"
            [minWidth]="200"
            [minY]="70"
            [maximizable]="false"
            [closable]="false"
            [baseZIndex]="10000"
            class="modal"
        >
            <p-header>
                Header content here
                <fa-icon
                    (click)="onToggleExampleModal()"
                    class="mr-1"
                    [icon]="['fas', 'times']"
                    size="lg"
                ></fa-icon>
            </p-header>
            <span>Some text</span>
            <p-footer>
                <button
                    (click)="onToggleExampleModal()"
                    type="button"
                    class="btn btn-theme-primary"
                >
                    Close
                </button>
            </p-footer>
        </p-dialog>
        <p-dialog
            (visibleChange)="onToggleCarsDemoModal()"
            [visible]="carsDemoModal$ | async"
            [blockScroll]="true"
            [modal]="true"
            [responsive]="true"
            [width]="450"
            [minWidth]="200"
            [minY]="70"
            [maximizable]="false"
            [closable]="false"
            [baseZIndex]="10000"
            class="modal"
        >
            <p-header>
                Edit
                <fa-icon
                    (click)="onToggleCarsDemoModal()"
                    class="mr-1"
                    [icon]="['fas', 'times']"
                    size="lg"
                ></fa-icon>
            </p-header>
            <app-edit-car-form *ngIf="carsDemoModal$ | async"></app-edit-car-form>
        </p-dialog>
        <p-confirmDialog
            header="Confirmation"
            icon="pi pi-exclamation-triangle"
            width="425"
        ></p-confirmDialog>
    </div>
</app-page>
