@import '~src/styles/variables-core';

section {
  background-color: $white;
  width: 100%;
}

article {
  margin-bottom: $spacer * 2;
}

.title {
  border-bottom: $border-1px-secondary;
}

h4 {
  font-weight: bold;
}
