<app-page>
  <app-subnav subnav>
    <ul nav-items class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['./base']" href="#">Base</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['./tables']" href="#">Tables</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['./interaction']" href="#">Interaction</a>
      </li>
    </ul>
  </app-subnav>
  <section main-content>
    <router-outlet></router-outlet>
  </section>
</app-page>
