@import '~src/styles/variables-core';

nav {
  border-bottom: 1px solid $gray-500;
  background-color: $white;
}

.navbar-brand {
  font-size: $font-size-base * 2;
  margin-right: $spacer * 2;
}

.nav-link {
  font-size: $font-size-lg;
  padding-bottom: $spacer / 4;

  &:hover {
    font-weight: $font-weight-normal;
  }
}

.nav-item {
  border-bottom: 3px solid transparent;
}

.navbar-nav {
  .active {
    border-bottom: 3px solid $dark;
  }
}

.navbar-collapse {
  display: flex;
}

.search {
  border-radius: $border-radius-xs;
}
