@import '~src/styles/variables-core';

nav {
  border-bottom: 1px solid $gray-500;
  background-color: $white;
  height: $heading-bar-height;

  .nav-link {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    color: $theme-dark-gray;

    &.active {
      &:hover {
        font-weight: $font-weight-bold;
      }
    }
  }

  .navbar-brand {
    color: $theme-dark-gray;
    font-size: $font-size-base * 1.75;
    margin-right: $spacer * 2;
  }

  .nav-item {
    border-bottom: 3px solid transparent;
    margin: 0 ($spacer * 0.5);
  }

  .navbar-nav {
    .active {
      border-bottom: 3px solid $dark;
      font-weight: 900;
    }
  }

  .search {
    border-radius: $border-radius-xs;
  }
}
