<nav class="navbar navbar-expand-lg mb-1 shadow-sm">
  <a class="navbar-brand order-1 flex-grow-1 flex-lg-grow-0" href="#">Renter<span class="font-weight-bold">Protect</span></a>
  <button class="btn btn-flat-secondary my-2 my-sm-0 order-2 order-lg-3" type="submit">
      <span class="badge badge-light">4</span>
    <fa-icon [icon]="['fas', 'bell']"></fa-icon>
  </button>
  <button class="btn btn-flat-secondary my-2 my-sm-0 order-3" type="submit">
    <fa-icon [icon]="['fas', 'user']"></fa-icon>
  </button>
  <button class="navbar-toggler order-4" type="button" [attr.aria-expanded]="!isCollapsed" aria-controls="collapse-nav" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="collapse-nav" class="navbar-collapse collapse flex-column flex-lg-row order-5 order-lg-2" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto order-2 order-lg-1">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/dashboard" href="#">Dashboard</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/properties" href="#">Properties</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/residents" href="#">Residents</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/admin" href="#">Admin</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 order-1">
      <input class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>
