@import '~src/styles/variables-core';

.unit-detail {
  font-family: $font-family-base;

  .unit-info {
    background-color: $theme-light-gray;
  }

  .info {
    .date {
      font-size: 0.6rem;
      font-style: italic;
    }
  }

  .policy {
    &-details {
      border-bottom: 1px solid $theme-light-gray;
    }

    &-list {
      font-size: 0.8rem;

      .title {
        font-weight: bold;
      }

      &:last-child {
        .policy-details {
          border-bottom: none;
        }
      }
    }
  }
}
