@import '~src/styles/variables-core';

.unit-detail {
  font-family: $font-family-base;

  .unit-info {
    background-color: $theme-light-gray;
  }

  .policy {
    &-details {
      border-bottom: $border-1px-tertiary;
    }

    &-list {
      .title {
        font-weight: bold;
      }

      &:last-child {
        .policy-details {
          border-bottom: none;
        }
      }
    }
  }
}
