<app-page>
  <section main-content class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <button class="btn btn-primary" (click)="increment()">Increment</button>
        <button class="btn btn-danger" (click)="decrement()">Decrement</button>
        <p>count: {{count$ | async}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Ut sed est nec dui interdum congue sed quis nisi. Morbi ullamcorper vulputate mi, sed imperdiet metus. Donec sagittis lacus
        nec dignissim viverra. Proin bibendum ante a sapien bibendum vehicula. Proin tincidunt velit nec ante convallis,
        ut lobortis est sagittis. Sed porttitor dui ornare,
      </div>
      <div class="col-sm">
        Ut sed est nec dui interdum congue sed quis nisi. Morbi ullamcorper vulputate mi, sed imperdiet metus. Donec sagittis lacus
        nec dignissim viverra. Proin bibendum ante
      </div>
      <div class="col-sm">
        Ut sed est nec dui interdum congue sed quis nisi. Morbi ullamcorper vulputate mi, sed imperdiet metus. Donec sagittis lacus
        nec dignissim viverra. Proin bibendum ante a sapien bibendum vehicula. Proin tincidunt velit nec ante convallis,
        ut lobortis est sagittis. Sed porttitor dui ornare, malesuada
      </div>
    </div>
  </section>
</app-page>
