<div class="action-buttons align-items-center h-100">
    <button
        type="button"
        class="btn btn-icon-round-primary {{size}} {{color}}"
    >
        <fa-icon
            [icon]="['fas', 'ellipsis-h']"
            size="{{size}}"
        ></fa-icon>
    </button>
    <button
        type="button"
        class="btn btn-icon-round-primary {{size}} {{color}}"
    >
        <fa-icon
            [icon]="['fas', 'envelope']"
            size="{{size}}"
        ></fa-icon>
    </button>
    <button
        type="button"
        class="btn btn-icon-round-primary {{size}} {{color}}"
    >
        <fa-icon
            [icon]="['fas', 'trash-alt']"
            size="{{size}}"
        ></fa-icon>
    </button>
</div>
