<div class="datatable-row-actions-btn-group align-items-center h-100">
    <button
        type="button"
        class="btn btn-sm-icon-primary"
    >
        <fa-icon
            [icon]="['fas', 'ellipsis-h']"
            size="sm"
        ></fa-icon>
    </button>
    <button
        type="button"
        class="btn btn-sm-icon-primary"
    >
        <fa-icon
            [icon]="['fas', 'envelope']"
            size="sm"
        ></fa-icon>
    </button>
    <button
        type="button"
        class="btn btn-sm-icon-primary"
    >
        <fa-icon
            [icon]="['fas', 'trash-alt']"
            size="sm"
        ></fa-icon>
    </button>
</div>
