@import '~src/styles/variables-core';

.title-bar {
  border-top: $border-1px-tertiary;
  text-transform: uppercase;
  height: $heading-bar-height;

  h3 {
    font-weight: 900;
    letter-spacing: 0.2px;
  }
}
