::ng-deep :root {
  --main-height: 100vh;
}

header {
  flex: 1 100%;
}

main {
  flex: 1 100%;
  display: flex;
  min-height: var(--main-height);
  justify-content: center;
}

footer {
  flex: 1 100%;
}
