@import '~src/styles/variables-core';
.modal {
  .ui-dialog {
    box-shadow: $box-shadow-light;
    border-radius: 2px;

    .ui-dialog-footer,
    .ui-dialog-content {
      border: 0;
    }

    .ui-dialog-titlebar {
      background-color: $theme-light-blue;
      border: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      color: $white;
      padding: $spacer / 2;
      font-family: $font-family-base;
      font-size: $font-size-sm;
    }

    .ui-dialog-footer {
      padding: 0;
    }
  }

  .ui-widget-content {
    border: 0;
  }

  p-header > div {
    display: flex;
    justify-content: space-between;
  }
}
