@import 'node_modules/bootstrap/scss/buttons';

// .btn-theme-theme_color
@each $color, $value in $theme-colors {
  .btn-theme-#{$color} {
    background-color: transparent;
    border: 1px solid $value;
    box-shadow: $box-shadow-sm;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    padding-right: $spacer;
    padding-left: $spacer;
    @if $color == light {
      color: $dark;
      @include hover-focus-active {
        color: $dark;
        background-color: darken($value, 2%);
      }
    } @else {
      color: $value;
      @include hover-focus-active {
        color: $white;
        background-color: darken($value, 2%);
      }
    }
  }

  .btn-sm-theme-#{$color} {
    background-color: transparent;
    border: 1px solid $value;
    box-shadow: $box-shadow-sm;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    padding-right: $spacer;
    padding-left: $spacer;
    @if $color == light {
      color: $dark;
      @include hover-focus-active {
        color: $dark;
        background-color: darken($value, 2%);
      }
    } @else {
      color: $value;
      @include hover-focus-active {
        color: $white;
        background-color: darken($value, 2%);
      }
    }
  }

  .btn-theme-icon-#{$color} {
    background-color: transparent;
    border: 1px solid $value;
    box-shadow: $box-shadow-sm;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    padding-right: $spacer + 0.5;
    padding-left: $spacer + 0.5;
    @if $color == light {
      color: $dark;
      @include hover-focus-active {
        color: $dark;
        background-color: darken($value, 2%);
      }
    } @else {
      color: $value;
      @include hover-focus-active {
        color: $white;
        background-color: darken($value, 2%);
      }
    }
  }

  .btn-icon-#{$color} {
    width: 40px;
    height: 40px;
    padding: 0px;
    background-color: $value;
    border-radius: 50%;
    box-shadow: $box-shadow-sm;
    @if $color == light {
      color: $dark;
    } @else {
      color: $white;
    }
    @include hover-focus-active {
      background-color: darken($value, 10%);
    }
  }

  .btn-flat-#{$color} {
    width: 40px;
    height: 40px;
    padding: 0px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    .badge {
      background: $theme-light-blue;
      position: absolute;
      border-radius: 50%;
      top: -2px;
      font-size: 10px;
      right: 0px;
      color: $white;
    }
    @if $color == light {
      color: $dark;
    } @else {
      color: $value;
    }
    @include hover-focus-active {
      box-shadow: $box-shadow-sm;
      background-color: $gray-100;
    }
  }

  .btn-sm-icon-#{$color} {
    width: 26px;
    height: 26px;
    padding: 0px;
    background-color: $value;
    border-radius: 50%;
    box-shadow: $box-shadow-sm;
    @if $color == light {
      color: $dark;
    } @else {
      color: $white;
    }
    @include hover-focus-active {
      background-color: darken($value, 10%);
    }
  }
}

.my-btn {
  @extend .btn;
  color: red;
}
