// .color-theme-color
@each $color, $value in $theme-colors {
  @include text-emphasis-variant(".color-#{$color}", $value);
}

// Includes:
// .color-primary
// .color-secondary
// .color-danger
// .color-warning
