@import '~bootstrap/scss/forms';

.form-group-underlined {
  @extend .form-group;

  > label {
    margin-bottom: 0;
    font-size: $font-size-sm;
    font-weight: bold;
  }

  .form-control {
    border: none;
    padding: 0;
    height: calc(1.25rem + 2px);
    font-size: $font-size-sm;

    @include hover-focus-active {
      box-shadow: none;
      border-color: $theme-light-blue;
    }
  }

  input.form-control {
    border-bottom: $border-1px-tertiary;
    border-radius: 0;
    padding: 0 $spacer / 4;
  }
}

input {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $gray-200;
    opacity: 1; /* Firefox */
  }
}
