@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/nav';

.sub-nav {
  .nav-item {
    margin: 0 ($spacer * 0.5);

    &.active {
      border-bottom: 3px solid $dark;
      font-weight: 700;
    }

    .nav-link {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      color: $theme-dark-gray;
    }
  }
}
