@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/nav';

.sub-nav {
  border-bottom: 1px solid $gray-500;

  .nav-item {
    &.active {
      border-bottom: 2px solid $dark;
    }
    a {
      padding-bottom: $spacer / 4;
    }
  }
}
