body {
  .ui-chkbox {
    .ui-chkbox-box {
      border: $border-1px-tertiary;

      @include hover-focus-active {
        border: $border-1px-primary;
      }
    }

    .ui-chkbox-box:not(.ui-state-disabled):hover {
      border-color: $theme-light-blue;
    }

    .ui-chkbox-box.ui-state-focus {
      border-color: $theme-light-blue;
      color: $theme-light-blue;
    }

    .ui-chkbox-box.ui-state-active {
      border-color: $theme-light-blue;
      background-color: $theme-light-blue;
    }

    .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
      border-color: darken($theme-light-blue, 10%);
      background-color: darken($theme-light-blue, 10%);
    }

    .ui-chkbox-box.ui-state-active.ui-state-focus {
      border-color: darken($theme-light-blue, 10%);
      background-color: darken($theme-light-blue, 10%);
    }
  }
}
