.p-dropdown {
  .ui-state-default {
    border: 0;
    color: $gray-500;
  }
  .ui-dropdown {
    width: 100%;
    border-bottom: 2px solid;
    border-radius: 0;
    border-color: $gray-500;

    &:not(.ui-state-disabled):hover,
    &:not(.ui-state-disabled):focus,
    &:not(.ui-state-disabled).ui-state-focus {
      border-color: $theme-light-blue;
      box-shadow: none;

      .ui-dropdown-trigger {
        color: $theme-light-blue;
      }
    }

    .ui-shadow {
      box-shadow: 1px 1px 3px 1px #bdbdbd;
    }

    .ui-dropdown-items {
      border-radius: 0;
      padding-right: 0;
      padding-left: 0;
    }

    .ui-dropdown-item {
      border-radius: 0;
    }

    .ui-state-highlight {
      background-color: $theme-light-blue;
    }

    .ui-dropdown-label {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
  .ui-dropdown-panel
    .ui-dropdown-items
    .ui-dropdown-item-group.ui-state-highlight {
    background-color: $theme-light-blue;
    color: $white;
  }

  .ui-dropdown-panel
    .ui-dropdown-items
    .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover,
  .ui-dropdown-panel
    .ui-dropdown-items
    .ui-dropdown-item-group:not(.ui-state-highlight):not(.ui-state-disabled):hover {
    background-color: $theme-light-blue;
    color: $white;
  }
}

// DROPDOWN SQUARE VERSION STYLES

$p-dropdown-square-width: 360px;

.p-dropdown-square {
  .ui-state-default {
    border: none;
    color: lighten($color: $theme-dark-gray, $amount: 20);
  }

  .ui-dropdown {
    align-self: stretch;
    width: 100% !important;
    border: 1px solid $theme-light-gray;
    padding: 0 15px;

    label {
      padding-left: 0;
    }

    &:not(.ui-state-disabled):hover,
    &:not(.ui-state-disabled):focus,
    &:not(.ui-state-disabled).ui-state-focus {
      border-color: $theme-light-gray;
      box-shadow: none;

      .ui-dropdown-trigger {
        color: $theme-light-blue;
      }
    }
  }

  // Modifiers
  &.flat {
    .ui-dropdown {
      display: flex;
      align-items: center;
      border: none;
      border-radius: 0;

      &:not(.ui-state-disabled):hover,
      &:not(.ui-state-disabled):focus,
      &:not(.ui-state-disabled).ui-state-focus {
        border: none;
        box-shadow: none;

        .ui-dropdown-trigger {
          color: $theme-light-blue;
        }
      }
    }
  }

  .ui-dropdown-trigger {
    right: 5px;
  }

  .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
  .ui-dropdown-panel
    .ui-dropdown-items
    .ui-dropdown-item-group.ui-state-highlight {
    background-color: $theme-light-blue;
    color: $white;
  }

  .ui-dropdown-panel
    .ui-dropdown-items
    .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover,
  .ui-dropdown-panel
    .ui-dropdown-items
    .ui-dropdown-item-group:not(.ui-state-highlight):not(.ui-state-disabled):hover {
    background-color: $theme-light-blue;
    color: $white;
  }

  .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
    color: lighten($color: $theme-dark-gray, $amount: 20);
  }

  .ui-dropdown-label {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-family-base;
    color: $theme-dark-gray;
    padding-right: 23px !important;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.separator {
    border-right: 1px solid $theme-light-gray;
  }

  // Options
  .option {
    font-family: $font-family-base;
    min-height: 36px;

    &-title {
      font-size: 0.95rem;
      font-weight: 200;
    }

    &-subtitle {
      font-size: 0.6rem;
      font-weight: 100;
    }
  }

  // Search
  .ui-dropdown-panel .ui-dropdown-filter-container {
    .ui-dropdown-filter {
      font-family: $font-family-base;
      font-weight: 200;
      padding-right: 0;
      padding-left: 2em;
      color: lighten($color: $theme-dark-gray, $amount: 30);
    }

    .ui-dropdown-filter-icon {
      left: 13px;
      right: auto;
      color: lighten($color: $theme-dark-gray, $amount: 30);
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $input-placeholder-color;
      opacity: 1; /* Firefox */
    }
  }
}

@include media-breakpoint-up(md) {
  .p-dropdown-square {
    width: $p-dropdown-square-width;

    .ui-dropdown-panel {
      min-width: $p-dropdown-square-width;
    }
  }
}
