.p-fileUpload {
  &.no-buttons {
    .ui-fileupload-buttonbar {
      display: none;
    }
  }

  .ui-fileupload-files {
    display: block;
    color: $gray-500;
  }

  .ui-fileupload-content {
    border-color: $theme-dark-gray;
    border-radius: 0;
    font-family: $font-family-base;
    font-size: $font-size-12;
    padding: 1rem !important;

    &.ui-fileupload-highlight {
      border-color: $theme-light-blue;
    }
  }
}
