// Imports
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/utilities';

// Font
$font-family-base: 'Roboto';
$font-size-px-base: 16px;
$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.6;
$h3-font-size: $font-size-base * 1.35;
$h4-font-size: $font-size-base * 1.1;
$h5-font-size: $font-size-base * 0.85;
$h6-font-size: $font-size-base * 0.6;

// // Sizes
$font-size-xs: $font-size-base * 0.75;

// Theme colors
$theme-light-blue: #48beff;
$theme-dark-gray: #4d4d4d;
$theme-light-gray: #dfdfdf;
$theme-red: #e52e1e;
$theme-yellow: #ffc222;

// Gray color variations
$gray-100: darken($theme-light-gray, 10%);
$gray-200: darken($theme-light-gray, 20%);
$gray-300: darken($theme-light-gray, 30%);
$gray-400: darken($theme-light-gray, 40%);
$gray-500: darken($theme-light-gray, 50%);
$gray-600: darken($theme-light-gray, 60%);
$gray-700: darken($theme-light-gray, 70%);
$gray-800: darken($theme-light-gray, 80%);
$gray-900: darken($theme-light-gray, 90%);

// Border radius
$border-radius-xs: 0.1rem;

// Heading
$heading-bar-height: 68px;
$heading-bar-md-height: 46px;

// UI components
// // Data-table
$datatable-checkbox-width: 3.5rem;

// Font sizes traduced from pixels to rem
$font-size-5: #{5px / $font-size-px-base}rem;
$font-size-6: #{6px / $font-size-px-base}rem;
$font-size-7: #{7px / $font-size-px-base}rem;
$font-size-8: #{8px / $font-size-px-base}rem;
$font-size-9: #{9px / $font-size-px-base}rem;
$font-size-10: #{10px / $font-size-px-base}rem;
$font-size-11: #{11px / $font-size-px-base}rem;
$font-size-12: #{12px / $font-size-px-base}rem;
$font-size-13: #{13px / $font-size-px-base}rem;
$font-size-14: #{14px / $font-size-px-base}rem;
$font-size-15: #{15px / $font-size-px-base}rem;
$font-size-16: #{16px / $font-size-px-base}rem;
$font-size-18: #{18px / $font-size-px-base}rem;
$font-size-21: #{21px / $font-size-px-base}rem;
$font-size-32: #{32px / $font-size-px-base}rem;

// Borders
$border-1px-primary: 1px solid $theme-light-blue;
$border-1px-secondary: 1px solid $theme-dark-gray;
$border-1px-tertiary: 1px solid $theme-light-gray;

$border-2px-primary: 2px solid $theme-light-blue;
$border-2px-secondary: 2px solid $theme-dark-gray;
$border-2px-tertiary: 2px solid $theme-light-gray;

// Form inputs variables
$border-form-input: 1px solid $theme-light-gray;

// Buttons variables
$border-radius-button: 4px;
$border-button-width: 2px;

// Box shadows
$box-shadow-light: 0 0 6px 0 rgba(0, 0, 0, 0.2);

// $border-radius:               .25rem !default;
// $border-radius-lg:            .3rem !default;
// $border-radius-sm:            .2rem !default;

// $box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
// $box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
// $box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
