// Imports
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/utilities';

// Font
$font-family-base: 'Roboto';
$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.6;
$h3-font-size: $font-size-base * 1.35;
$h4-font-size: $font-size-base * 1.1;
$h5-font-size: $font-size-base * 0.85;
$h6-font-size: $font-size-base * 0.6;

// // Sizes
$font-size-xs: $font-size-base * 0.75;

// Colors
$theme-light-blue: #48beff;
$theme-dark-gray: #4d4d4d;
$theme-light-gray: #dfdfdf;
$theme-red: #e52e1e;
$theme-yellow: #ffc222;

// Borders
$border-radius-xs: 0.1rem;

// Heading
$heading-bar-height: 60px;
$heading-bar-md-height: 46px;

// UI components
// // Data-table
$datatable-checkbox-width: 2.5rem;
