// Imports
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// Font
$font-family-base: 'Roboto';
$base_font_size: 16px;

// Colors
$theme-light-blue: #2DC6F5;
$theme-dark-gray: #282560;
$theme-light-gray: #E6E6E6;
$theme-red: #DA1800;
$theme-yellow: #FFB31F;

