<app-title-bar title="redux example"></app-title-bar>
<div class="container-fluid pt-3">
  <div class="row">
    <div class="col">
      <article>
        <button class="btn btn-theme-danger mr-1" (click)="decrement()">Decrement</button>
        <button class="btn btn-theme-primary" (click)="increment()">Increment</button>
        <p>count: {{count$ | async}}</p>
      </article>
    </div>
  </div>
</div>
<app-title-bar title="modal"></app-title-bar>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <article>
        <button class="btn btn-theme-primary mr-1" (click)="toggleExampleModal()">Show</button>
        <p>Example Modal: {{modalExample$ | async}}</p>
      </article>
    </div>
  </div>
</div>
