@import '~src/styles/variables-core';

:host {
  width: 100%;
}

nav {
  background-color: $white;
  border-bottom: $border-1px-tertiary;
  border-top: $border-1px-tertiary;
  min-height: $heading-bar-height;
}
