<app-page>
    <section
        main-content
        class="container-fluid"
    >
        <p>Properties</p>

        <app-toolbar
            class="row"
            [dropdownOptions]="dropdownProperties$ | async"
            (dropdownSelectedItem)="onSelectProperty($event)"
        ></app-toolbar>

        <div class="row">
            <app-units [units]="units$ | async"></app-units>
        </div>

    </section>

    <!-- <div modals>
        <app-modal
            (visibleChange)="onToggleModal()"
            [visible]="unitsModal$ | async"
        >
            <div modal-header>
                Header content here
                <fa-icon
                    (click)="onToggleModal()"
                    class="mr-1"
                    [icon]="['fas', 'times']"
                    size="lg"
                ></fa-icon>
            </div>
            <div modal-body>
                wewewe -->
    <!-- <app-edit-car-form *ngIf="carsDemoModal$ | async"></app-edit-car-form> -->
    <!-- </div>
        </app-modal>
    </div> -->
</app-page>
