<app-title-bar title="Forms"></app-title-bar>
<div class="container-fluid pt-3">
    <div class="row">
        <div class="col">
            <article>
                <h4>Auto complete multiple selection</h4>
                <div class="form-row">
                    <div class="form-group-underlined col">
                        <label for="autocomplete">Please select a country</label>
                        <p-autoComplete
                            class="p-autoComplete form-control"
                            [(ngModel)]="countries"
                            [suggestions]="filteredCountriesMultiple"
                            (completeMethod)="filterCountryMultiple($event)"
                            [minLength]="1"
                            placeholder="Countries"
                            field="name"
                            [multiple]="true"
                        >
                        </p-autoComplete>
                    </div>
                </div>
            </article>
            <article>
                <h4>Dropdown</h4>
                <div class="form-row">
                    <div class="form-group-underlined col">
                        <label for="dropdown">Select a City</label>
                        <p-dropdown
                            class="p-dropdown form-control"
                            [options]="cities"
                            [(ngModel)]="selectedCity"
                            [autoWidth]="false"
                            placeholder="Select a City"
                            optionLabel="name"
                        ></p-dropdown>
                    </div>
                </div>
                <p>
                    Selected City: {{selectedCity ? selectedCity.name : 'none'}}
                </p>
            </article>
            <article>
                <h4>Calendar</h4>
                <div class="form-row">
                    <div class="form-group-underlined col">
                        <label for="calendar">Set a Date</label>
                        <p-calendar
                            class="p-calendar form-control"
                            [(ngModel)]="date1"
                            showIcon="true"
                        ></p-calendar>
                    </div>
                </div>
            </article>
        </div>
        <div class="col">
            <article>
                <h4>FormControl</h4>
                <div class="form-group-underlined">
                    <label for="formControlNameInput">Name</label>
                    <input
                        type="text"
                        [formControl]="name"
                        type="text"
                        class="form-control"
                        id="formControlNameInput"
                    >
                </div>
                <p>Value: {{ name.value }}</p>
                <button
                    class="btn btn-theme-primary"
                    (click)="updateName()"
                >
                    update
                </button>
            </article>
            <article>
                <h4>FormBuilder</h4>
                <form
                    [formGroup]="profileForm"
                    (ngSubmit)="onSubmitWithFb()"
                >
                    <div class="form-row">
                        <div class="form-group-underlined col">
                            <label for="profileFormFirstNameInput">First Name</label>
                            <input
                                type="text"
                                formControlName="firstName"
                                class="form-control"
                                id="profileFormFirstNameInput"
                            >
                            <div
                                *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                class="invalid-feedback"
                            >

                                <div *ngIf="firstName.errors.required">firstName is required.</div>
                            </div>
                        </div>
                        <div class="form-group-underlined col">
                            <label for="profileFormLastNameInput">Last Name</label>
                            <input
                                type="text"
                                formControlName="lastName"
                                class="form-control"
                                id="profileFormLastNameInput"
                            >
                        </div>
                    </div>
                    <div formGroupName="address">
                        <div class="form-row">
                            <div class="form-group-underlined col">
                                <label for="profileFormStreetInput">Street</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="street"
                                    id="profileFormStreetInput"
                                >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group-underlined col">
                                <label for="profileFormCityInput">City</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="city"
                                    id="profileFormCityInput"
                                >
                            </div>
                            <div class="form-group-underlined col">
                                <label for="profileFormCityInput">State</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="state"
                                    id="profileFormCityInput"
                                >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group-underlined col-6">
                                <label for="profileFormZipcodeInput">Zip Code</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="zip"
                                    id="profileFormZipcodeInput"
                                >
                            </div>
                        </div>
                    </div>
                    <button
                        class="btn btn-theme-primary mr-1"
                        type="submit"
                        [disabled]="!profileForm.valid"
                    >
                        Submit
                    </button>
                </form>
                <p>Form Status: {{ profileForm.status }}</p>
                <p>{{firstName}}</p>
            </article>
        </div>
    </div>
</div>
