@import '~src/styles/variables-core';

.status-bar {
  background-color: $white;

  .status-bar-groups {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .group {
    flex-grow: 1;
    max-width: 100%;
    text-transform: uppercase;
    text-align: center;
    border-right: none;
    margin: 20px 0;

    .group-title {
      font-weight: bold;
      color: darken($theme-light-gray, 20%);
    }

    &:last-child,
    &:only-child {
      border-right: none !important;
    }
  }

  .group-items {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;

    .item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      line-height: 2.8rem;
      white-space: nowrap;
      padding: 0 2%;
    }

    .item-title {
      font-size: 2rem;
      font-weight: bold;
    }

    .item-label {
      font-size: 0.72rem;
      font-weight: bold;
      margin: 0;
      line-height: 1;
    }
  }
}

@media (min-width: 580px) {
  .status-bar {
    .group {
      border-right: 1px solid $theme-light-gray;
    }
    .group-items {
      .item {
        padding: 0 7%;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .status-bar {
    &-groups {
      flex-wrap: nowrap;
    }
  }
}
